

.header {
    background-color: #d3d3d3;
    padding: 20px;
    width: 80%;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.dark-header {
    background-color:darkgrey;
    color: white;
    margin-left: auto;
    margin-top: auto;
    margin-right: auto;
}
.Dashboard{
    background-color: black;
}

.content {
    background-color: lightskyblue;
    padding: 20px;
    width: 80%;
    text-align: justify;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.dark-content {
    background-color: lightgray;
    width: 80%;
    height: 200px; 
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.button-container {
    margin-top: 10px;
    text-align: center;
}

button {
    font-size: 16px;
    padding: 10px 20px;
    background-color:darkblue;
    color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}


